/*use element selector to select all p elements for this style*/
p{
    color: blue;
    font-size: 22px;
}

footer{
    font-size: 12px;
    color: navy;
}

h3{   
 text-align: center;   
}

/*use class selector to define style for elements. Note: always start with a dot (.) !!*/
.mun_keksima{
    background-color: red;  
}

.about{
    font-size: 32px;
    color: blue;
}

.login_container
{
    font-size: 12px;
    color: blue;
    width: 500px;
    margin: 18px auto;
    border: 2px solid black;
    border-radius: 15px;
    //background-color: darksalmon;
    background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,0.5));
    padding: 8px;
}

.loginbody_container
{
    background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,0.5));

}

/*itse määritelty class tyyli*/
.fancy{
    color: red;
    border: 2px;
    background-color: blue;
    border: 4px;
    border-style: solid;
    border-radius: 8px;
    background-color: coral;
}

/*use id selector to define style*/
/*itse määritelty id selector. Ohje: käytä vain yhdessä elementissä HTML dokumentissa*/
#joku_tyyli{
    margin: 100px;
}
/*
p:hover{
  background-color: green;   
} */