/*use element selector to select all p elements for this style*/
p{
    color: greenyellow;
    font-size: 32px;
}

/*use class selector to define style for elements. Note: always start with a dot (.) !!*/
.mun_keksima{
    background-color: aquamarine;  
}

.fancy{
    color: red;
    border: 4px;
    border-style: solid;
    border-radius: 8px;
    background-color: coral;
}

/*use id selector to define style*/
#joku_tyyli{
    margin: 100px;
}