<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <!--
        <meta charset="utf-8">/meta>
        -->
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        
    </head>
    <body>
        
        <div>
            <nav id="head">
                <!--<a href="http://www.kaleva.fi">Kaleva</a>
                <a href="http://www.kaleva.fi">Kaleva2</a>-->
            </nav>
            <section>
                <h1 class="about">HTML5view</h1>
                <table class="table">
                    <thead>
  <!--                      
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Age</th>
                        </tr>
-->
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                
            </section>
            <footer data-dummy="">
                <p>Copyright by Jarmo Leskinen</p>
            </footer>
        </div>
        
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>      
</html>