<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- This is comment -->
        <p>Hello earth habitants!</p>
        <div class="mun_keksima">Hello</div>
        <div class="fancy">Again</div>
        <p class="fancy">Hellou</p>
        <p id="joku_tyyli">This is some style with id</p>
        <input type="text" placeholder="Enter your name"/>
        <script src="/controllers/scripts.js"></script>
    </body>      
</html>